<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <link href="{{ url_for('static', path='/css/base.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', path='/css/bootstrap.css') }}" rel="stylesheet" type="text/css">
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} - Marvellous API</title>
    {% endblock %}
</head>
<body>
    {% include "navbar.html" %}

    <div id="content">
        {% block content %}{% endblock %}
    </div>
    
    <div id="footer">
        {% block footer %}{% endblock %}
    </div>
    
    <script src="{{ url_for('static', path='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', path='js/jquery-slim.js') }}"></script>
    <script src="{{ url_for('static', path='js/popper.js') }}"></script>
    <script src="{{ url_for('static', path='js/base.js') }}" defer></script>

</body>
</html>